@if(viewModel$ | async; as viewModel){
<div class="catalog">
  <div class="catalog__body">
    <cdk-virtual-scroll-viewport
      class="viewport"
      [itemSize]="virtualScrollItemHeight"
      [minBufferPx]="virtualScrollItemHeight * 6"
      [maxBufferPx]="virtualScrollItemHeight * 3 * 6"
    >
      <lib-video
        *cdkVirtualFor="let video of viewModel.videos; trackBy: trackByVideoId"
        [video]="video"
        [height]="virtualScrollItemHeight"
      >
      </lib-video>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="catalog__footer">
    <button kbq-button (click)="toggleSidePanel(sidePanelTemplateRef)">
      <span>Фильтр</span>
    </button>
  </div>
</div>

<ng-template #sidePanelTemplateRef>
  <kbq-sidepanel-header [closeable]="true"
    >Найдено {{ viewModel.videos.length }}</kbq-sidepanel-header
  >
  <kbq-sidepanel-body class="layout-padding">
    <kbq-form-field
      class="layout-margin-bottom-xl layout-margin-top-m"
      kbqSelectSearch
    >
      <!--      <i kbqPrefix kbq-icon="mc-search_16"></i>-->
      <input
        kbqInput
        [formControl]="searchControl"
        type="text"
        placeholder="Поиск"
      />
      <kbq-cleaner></kbq-cleaner>
    </kbq-form-field>

    <kbq-list-selection multiple="checkbox" [formControl]="selected">
      <kbq-list-option *ngFor="let option of viewModel.tags" [value]="option">
        <span [innerHTML]="option"></span>
      </kbq-list-option>
    </kbq-list-selection>
  </kbq-sidepanel-body>
</ng-template>

}
