:host {
  height: 100%;
}

.catalog {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.catalog__body {
  flex: 1;
}

.viewport {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}
