@use '@koobiq/components/prebuilt-themes/dark-theme.css';
@use '@koobiq/components/core/styles/visual';
@use '@koobiq/icons/dist/fonts/mc-icons.scss';

@include visual.layouts-for-breakpoint();

html,
body {
  height: 100%;
  background: black;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loader__inner {
  margin: 50px auto 0;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
